.channel-msg-field {
    width:25em;
    border: solid;

    border-width: 0.2em;
    position: relative;
    font-size: 1.5em;
}
.file-button {
    border-radius: 5em;
    padding: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-size: xx-large;
}